@import "../../sass/variables";
@import "../../sass/mixins";
$bp-800 : 800px;

.usersDashboard {
  padding: 5rem 2.5%;
  flex-grow: 1;
  font-family: $f-work-sans;
  h1 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #213f7d;
    margin-bottom: 3rem;
  }
  .stats {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;

    // display: grid ;
    // grid-template-columns: repeat(auto-fit , minmax(24rem,1fr));
    & > div {
      // stat
      flex-grow: 1;
      background: #ffffff;
      border: 1px solid rgba(33, 63, 125, 0.06);
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      padding: 2rem 3rem;
      width: 90%; //for width sammler than 240px
      max-width: 24rem;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      img {
        width: 4rem;
        height: 4rem;
      }
      h4 {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.6rem;
        text-transform: uppercase;
        color: $c-primary-grey;
      }
      p {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 2.8rem;
        text-transform: uppercase;
        color: #213f7d;
      }
    }
  }
}
.usersTableContainer {
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-top: 7rem;
  padding: 4rem 2.5rem;
  position: relative;
  max-width: 900px;
  width : 100% ;
  overflow-x: scroll;
  // -ms-overflow-style: none;
  // scrollbar-width: none;
  // &::-webkit-scrollbar {
  //   display: none;
  // }

  table {
    font-family: $f-work-sans;
    width: 100%;
    th {
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 1.4rem;
      text-transform: uppercase;

      color: $c-primary-grey;
      @include respond('max' , $bp-800) {
        font-size: 1rem;
      }

      span,
      img {
        display: inline;
        vertical-align: middle;
      }
      img {
        width: 1.6rem;
        height: 1.6rem;
        margin-left: 1rem;
        @include respond('max' , $bp-800) 
        {
        width: 1.3rem;
        height : 1.3rem 
        }
        cursor: pointer;
      }
    }
    td {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: $c-primary-grey;
      padding: 1rem 0.5rem;
      @include respond('max' , $bp-800) {
        font-size: 1.2rem;
      }
      &:nth-of-type(1) {
        // oganizaton td
        text-transform: capitalize;
        @include respond('max' , $bp-800){
          @include generateElipses(20px)
        }
      }

      &:nth-of-type(3) {
        // email td
        text-transform: lowercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // DID THIS TO AVOID TOO LONG HORIZONTAL TABLE
        max-width: 15rem;

        @include respond('max' , $bp-800){
          max-width: 10rem;;
        }
      }
      &:nth-of-type(5),
      &:nth-of-type(4) {
        // date and phone td 
        @include respond('max' , $bp-800){
          @include generateElipses(10px)
        }
      }
      &:nth-of-type(6) {
        // status
        button {
          padding: 1rem;
          border-radius: 100px;
          text-transform: capitalize;
          &.pending {
            color: #e9b200;
            background: rgba(233, 178, 0, 0.1);
          }
          &.inactive {
            color: hsl(224, 20%, 41%);
            background: hsla(224, 20%, 41%, 0.1);
          }
          &.active {
            color: hsl(137, 60%, 51%);
            background: hsla(137, 60%, 51%, 0.1);
          }
          &.blacklisted {
            color: #e4033b;
            background: hsla(345, 97%, 45%, 0.1);
          }
        }
      }
      &:nth-of-type(7) {
        // elipses td
        position: relative;
        .actions {
          position: absolute;
          background: #ffff;
          z-index: 10;
          left: -2rem;
          top: -1rem;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
          width: fit-content;
          min-width: 15rem;

          background: #ffffff;
          border: 1px solid rgba(84, 95, 125, 0.04);
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          border-radius: 4px;

          p {
            display: flex;
            column-gap: 1rem;
            cursor: pointer;
            font-size: 1.4rem;
          }
        }
        img {
          cursor: pointer;
        }
      }
    }
  }
}

.bottomFilter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 2rem;
  div:nth-of-type(1) {
    // LEFT SIDE
    font-family: $f-work-sans;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.6rem;

    @include respond('max' , $bp-800) {
      font-size: 1.2rem;
      line-height: 1.3rem;
    }

    select {
      margin: 0 1rem;
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      outline: none;
      border: none;
      padding: 0.8rem;

      font-weight: 500;

      color: #213f7d;
    }
    span {
      font-weight: 400;
      color: $c-primary-grey;
    }
  }
  div:nth-of-type(2) {
    // RIGHT SIDE  SIDE
    font-family: $f-work-sans;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: $c-primary-grey;
    display: flex;
    column-gap: 0.8rem;
    @include respond('max' , $bp-800) {
      font-size: 1.2rem;
      line-height: 1.3rem;
    }
    button {
      width: 2.4rem;
      height: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include respond('max' , $bp-800) {
      width: 1.8em;
      width: 1.8rem;

      }
      img {
        pointer-events: none;
        width :40%;
        height :auto;
      }
      &:last-child,
      &:first-child {
        background: rgba(33, 63, 125, 0.1);
        border-radius: 4px;
      }
      &:last-child {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}
