@mixin respond($type, $breakpoint) {
  @if ($type == "max") {
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin generateElipses($max-width) {
  max-width: $max-width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
