//RESET DEFAULT STYLING
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; //10 /16px so 1rem=10px and 1.6rem =16px
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}
